<% if article.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for article do |f| %>

    <div id="cover-image", class="form-group relative">
        <%= image_tag "ELT140405465316_TP_V.jpg", class: "article-image", onClick:"$('#article_image').click()" %>
        <i class="fa fa-camera"></i>
    </div>
    
    <%= f.attachment_field :image %>
    
    <div class="form-group">
        <%= f.label :title, '投稿タイトル' %>
        <%= f.text_field :title, placeholder: "就活商事の1次面接を受けてきました！", class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            タイトルを入力してください。
        </small>
    </div>
    <div class="form-group">
        <%= f.label :company, '受けた企業' %>
        <%= f.text_field :company, placeholder: "就活商事株式会社", class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            受けた企業を入力してください。
        </small>
    </div>
    <div class="form-group">
        <%= f.label :description, '投稿内容' %>
        <%= f.text_area :description, placeholder: "就活商事の1次面接を受けました。質問内容は学生時代に力を入れていたこと、志望動機でした。", class: 'form-control', rows:10 %>
        <small id="content-tip" class="form-text text-muted">
            投稿内容を入力してください。 
        </small>
    </div>
    <%= f.submit "投稿", class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
    </small>
<% end %>