<div class = "d-flex align-items-center">
  <h1>体験記一覧</h1>
  <div class="ml-auto articles_button">
        <a class="btn btn-outline-info" href="/articles/new" role="button">投稿</a>
  </div>
</div>

<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<div class="container">
  <div class="row card-columns">
    <% @articles.each do |article| %>
    <div class="card col-md-4">
      <%= link_to article do %>
      <div class= 'card-body' %>
        <% if article.image_id.present? %>
          <%= image_tag attachment_url(article, :image), class: 'card-img-top' %>
        <% else %>
          <%= image_tag 'joy-2483926_1280.jpg', class: 'card-img-top' %>
        <% end %>
        <p class="card-title"><%= article.title %></p>
        <%= article.created_at.strftime("%Y年%m月%d日") %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
