
<span class="index">一覧</span>

<div class="paginate"><%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %></div>

<p class="search">検索</p>
<div class="search-input">
  <%= form_tag(articles_path, :method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', :title => nil %>
  <% end %>
</div>

<div class="container">
  <div class="row card-columns">
    <% @articles.each do |article| %>
    <div class="card col-md-4">
      <%= link_to article do %>
      <div class= 'card-body' %>
        <% if article.image_id.present? %>
          <%= image_tag attachment_url(article, :image), class: 'card-img-top' %>
        <% else %>
          <%= image_tag 'joy-2483926_1280.jpg', class: 'card-img-top' %>
        <% end %>
        <span class="article-title"><%= article.title %></span>
        <p class= "created-at"><%= article.created_at.strftime("%Y年%m月%d日") %></p>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
