<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto articles_button">
    <% if user_signed_in? && @article.user == current_user %>
      <%= link_to "投稿一覧", articles_path, class: "btn btn-outline-info" %>
      <%= link_to "編集", edit_article_path, class: "btn btn-outline-info" %>
      <%= link_to "削除", @article, method: :delete, class: 'btn btn-danger', data: {confirm: "投稿記事を削除しますか？", cancel: "キャンセル", commit: "削除する", title: "削除の確認"} %>
    <% else %>
      <%= link_to "投稿一覧", articles_path, class: "btn btn-outline-info" %>
    <% end %>
  </div>
</div>

<div class="container cf-skin">
  <div class="col-md-12 article-block">
  
    <% if @article.image_id.present? %>
      <%= image_tag attachment_url(@article, :image), class: "article-image" %>
    <% else %>
      <%= image_tag "joy-2483926_1280.jpg", class: "article-image" %>
    <% end %>
    
    <h1><%= @article.title %></h1>
    <h3><%= @article.company %></h3>
    <p><%= @user.username %></p>
    <p class="card-text"><%= @article.description %></p>
  </div>
  
  <span id="like-of-<%= @article.id %>">
    <%= render partial: 'likes/like', locals: { article: @article } %>
  </span>

  <div>
    <h4>コメント</h4>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
    <% end %>
  </div>
</div>