<% if user_signed_in? %>
  <% if article.like_user(current_user.id) %>
    <%= button_to article_like_path(article, article.like_user(current_user)), method: :delete, remote: true do %>
      <i class= "fa fa-heart"></i>
      <span>
        <%= article.likes_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to article_likes_path(article),  method: :post, remote: true do %>
      <i class= "fa fa-heart"></i>
      <span>
        <%= article.likes_count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <i class= "fa fa-heart"></i>
    <span>
      <%= article.likes_count %>
    </span>
<% end %>