<!DOCTYPE html>
<html>
  <head>
    <title>SyukatsuSapri</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="sticky-top">
    <%= link_to 'SyukatsuSapri', root_path, class: "header-top" %>
    <div class="link">
      <% if user_signed_in? %>
        <%= link_to 'マイページ', user_path(current_user), class: "links" %>
        <%= link_to 'トップ', root_path, class: "links" %>
        <%= link_to '投稿する', new_article_path, class: "links" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "links" %>
      <% else %>
        <%= link_to "Signup", new_user_registration_path, class: "links" %> 
        <%= link_to "Login", new_user_session_path, class: "links" %>
      <% end %>
    </div>
  </header>
  
  <body>
    <% if flash[:notice] %>
      <div class="flash alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  
  <footer>
    <address>Copyright(C)2019 SyukatsuSapri,Allright Reserved.</address>
  </footer>
  
</html>
